<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Head</h1>
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, sed.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam aspernatur alias saepe voluptates animi molestiae commodi totam fuga quibusdam nobis, atque ipsum assumenda? Veritatis voluptate quos repellat, magni eveniet molestiae?</p>
</body>
</html>